doctype html 
html
  head
    title HiBus: A Real-Time Bus Tracking App
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://localhost:35729/livereload.js")
    style.
      html, body { height: 100% }
      body { margin: 0; padding: 0 }
      #map { height: 100% }
  body(onload="initialize()")
    block content 