doctype html 
html
  head
    title HiBus: A Real-Time Bus Tracking App
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6nRbXeX6FH0m3-fWvG1j84k1RHv2nzeQ&sensor=false&language=en")
    script(src="https://cdn.firebase.com/v0/firebase.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      html, body { height: 100% }
      body { margin: 0; padding: 0 }
      #map { height: 100% }
  body(onload="initialize()")
    #map(style="width: 100%; height: 100%")
    script(src="javascripts/marker.js")
    script(src="javascripts/firebus.js")
